body {
  padding: 25px;
}

div {
  width: 100px;
  height: 100px;
  background-color: #777;
  color: white;
  border: 1px solid black;
  text-align: center;
}

section {
  height: 200px;
}
#toggle-direction {
  font-size: 20px;
  margin: 20px 0;
  color: white;
  background-color: #67d6d6;
  border-radius: 5px;
  padding: 15px;

}

#toggle-direction a:hover {
  cursor: pointer;
}

.flex-container-start-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #333;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex;
  /*align-items: baseline;*/

}

.flex-container-end-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #333;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.flex-container-center-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #333;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}

.flex-container-space-between-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #333;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-justify-content: justify;
  justify-content: space-between;
}

.flex-container-space-around-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #333;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-justify-content: justify;
  justify-content: space-around;
}

.flex-container-start-col {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #333;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  -ms-justify-content: start;
  justify-content: flex-start;

}

.flex-container-end-col {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #333;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-end;
  -ms-justify-content: end;
  justify-content: flex-end;
}

.flex-container-center-col {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #333;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}

.flex-container-space-between-col {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #333;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  -ms-justify-content: justify;
  justify-content: space-between;
}

.flex-container-space-around-col {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #333;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-justify-content: justify;
  justify-content: space-around;
}

/*.flex-item {
  flex: 1;
}
*/

.flex-item-2 {
 /* flex: 3;*/
  font-size: 30px;
  order: 3;
}
